
/*-----------------------------------------*/

body{
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
}

html, body{
    width: 100%;
    height: 100%;
}

/*---------------------------------------
    0 Typography
-----------------------------------------*/

h1, h2, h3, h4 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
}

h1 {
    color: #373737;
    font-size: 45px;
    line-height: normal;
}

h2 {
    color: #454545;
    font-size: 35px;
    line-height: 52px;
    margin-top: 0px;
}

h3 {
    color: #585858;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h4 {
    color: #656565;
    font-size: 20px;
}


p {
    color: #878787;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.2px;
}


/*---------------------------------------
    1 Buttons
-----------------------------------------*/

.section-btn {
    background: #454545;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 12px 32px 16px 32px;
    margin-top: 42px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.section-btn:focus,
.section-btn:hover {
    background: #e3e0cf;
    color: #9fa8a3;
}

/*---------------------------------------
    2 General
-----------------------------------------*/
#about,
#service, #resume, #work,
#contact, footer {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-title {
    margin: 0;
    padding-bottom: 32px;
}

#service, #work {
    background: #f9f9f9;
}
/*---------------------------------------
    4 Navigation section
-----------------------------------------*/

.navbar-default {
    border: none;
    margin-bottom: 0;
    background-color: #ffffff;
    padding: 12px 0;
    color: #444;
    font-weight: normal;
    font-size: 20px;
}

.navbar-default .navbar-nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #858585;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding: 0 12px;
    margin: 15px 8px;
}

.navbar-default .navbar-nav > li a:hover {
    background-color: #e7e7e7;
    color: #656565 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #858585;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #656565;
}

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #000000;
    border-color: transparent;
}


/*---------------------------------------
    5 Home section
-----------------------------------------*/

#home {
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#home .home-thumb {
    position: absolute;
    top: 0;
}


/*---------------------------------------
    6 About section
-----------------------------------------*/

#about {
    padding-top: 100px;
}

#about .about-profile-thumb {
    padding-top: 32px;
    padding-left: 22px;
}

#about .about-profile-thumb span {
    font-weight: bold;
}

#about .about-thumb {
    padding: 32px 12px;
}

#about .about-thumb p {
    padding: 2px 0;
}

/*---------------------------------------
    7 Service section
-----------------------------------------*/

#service .fa{
    background: #ffffff;
    color: #000000;
    font-size: 50px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 22px;
    padding-left: 22px;
}

/*---------------------------------------
    8 Resume section
-----------------------------------------*/

#resume .resume-thumb {
    margin-top: 12px;
    margin-bottom: 12px;
}

#resume .resume-thumb fa{
    color: #000000;
    padding-right: 8px;
}

#resume strong{
    color: #797979;
    display: block;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

#resume strong span {
    display: inline-block;
    padding: 2px 6px;
}

/*---------------------------------------
    9 Work section
-----------------------------------------*/

#work .work-thumb {
    width: 262.5px;
    height: 262.5px;
    margin: 22px 0 12px 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

#work .work-thumb:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#work .work-thumb img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*---------------------------------------
    10 Contact section
-----------------------------------------*/

#contact .contact-info .fa {
    padding-right: 5px;
}

#contact .form-control {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact .form-control:focus {
    border-bottom-color: #999999;
}

#contact input {
    height: 55px;
}

#contact button#submit {
    background: #454545;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-weight: bold;
    height: 55px;
    padding-bottom: 10px;
    margin-top: 24px;
}

#contact button#submit:hover {
    background: #000000;
    color: #ffffff;
}

/*---------------------------------------
    11 Footer section
-----------------------------------------*/

footer {
    background: #f9f9f9;
    text-align: center;
}

footer p {
    padding-bottom: 16px;
}

/*---------------------------------------
    12 Social icon
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    color: #454545;
    curser: pointer;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px 6px 10px 6px;
}

.social-icon li a:hover {
    background: #000000;
    color: #ffffff;
    transform:scale(1.1);
}

